#index-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;

	.time-entries {
		flex: 0 0 calc(100vh - 110px);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: auto;
		padding: 25px;

		.table {
			display: grid;
			width: 100%;
			grid-template-columns: repeat(9, 1fr);

			.table-header,
			.table-cell,
			.table-footer {
				padding: 15px;
			}

			.table-header {
				font-weight: bold;
				border-bottom: solid 1px #fff;
				text-align: left;
			}

			.table-cell {
				display: flex;
				cursor: pointer;
				font-size: 12px;
				border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
				transition: background-color ease-in 250ms;

				&.rate {
					justify-content: flex-end;
				}

				&.same-project td {
					background-color: rgba(0, 0, 0, 0.1);
				}

				&.actions {
					justify-content: center;
				}

				.btn-with-icon {
					img {
						transition: all .2s ease-in-out;
						width: 24px;
						height: 24px;
					}

					&:hover img {
						transform: scale(1.5);
					}
				}
			}

			.table-footer {
				display: flex;
				border-top: solid 1px #fff;
				grid-column: 1 / 10;

				.btn-with-icon img {
					margin-right: 5px;
				}
			}
		}
	}

	.btn-with-icon {
		display: inline-flex;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		align-items: center;
		background-color: transparent;
		border: 0;

		&:disabled {
			opacity: 0.25;
		}

		&:focus {
			outline: 0;
		}

		& + .separator {
			display: inline-block;
			width: 1px;
			background: rgba(255, 255, 255, .2);
			margin: 0 10px;
		}
	}

	.recording {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: rgba(0, 0, 0, .25);
		flex: 0 0 60px;

		.settings {
			cursor: pointer;
			width: 25px;
			height: 25px;
			-webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .5));
			margin-left: 10px;
		}

		input {
			border: 0;
			flex: 1 0 auto;
			background: transparent;
			color: #fff;
			padding: 0 20px;
			height: 60px;
		}

		select {
			border: 0;
			background: transparent;
			color: #fff;
			flex: 0 1 auto;
			max-width: 150px;
			height: 60px;
			margin-right: 15px;
		}

		input:focus,
		select:focus {
			outline: 0;
		}

		select:focus {
			background: #333a43;
		}

		.start,
		.stop {
			cursor: pointer;
			width: 45px;
			height: 45px;
			-webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .5));
		}

		.counter {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 1 auto;
			font-size: 14px;
			margin: 0 10px;
		}
	}
}
